@if (matches(); as matches) {
    @if (matches.length) {
        <swiper-container #swiperEl class="match-swiper" init="false">
            @for (match of matches; track match.id) {
                <swiper-slide>
                    <app-match-card
                        [match]="match"
                        (cardClick)="openProtocol($event)"
                    />
                </swiper-slide>
            }
        </swiper-container>
    } @else {
        <div class="matches-slider__empty">Календарь ещё не готов.</div>
    }
} @else {
    <div class="matches-slider__empty">Загрузка матчей...</div>
}
