:host {
    display: block;
    margin-top: 36px;
    margin-bottom: 36px;
}

.match-swiper {
    width: 100%;
    box-sizing: border-box;
}

/* Каждый слайд занимает 60% ширины — то есть 1 полный слайд + 20% следующего */
swiper-slide {
    width: 90% !important;
}
