<article
    class="match-card"
>
    <header class="match-card__header">
        <div class="match-card__season">
            <img
                [src]="match().competitionLogoUrl"
                [alt]="match().tournamentName"
            />
            <span>{{ match().seasonName }}, {{ match().round }}</span>
        </div>

        <time class="match-card__date">
            {{ match().matchDateTime | date: "d MMMM, HH:mm" }}
        </time>
    </header>

    <div class="match-card__content">
        <div class="match-card__team">
            <img
                class="match-card__logo"
                [src]="match().homeTeam.logoUrl"
                [alt]="'Логотип команды ' + match().homeTeam.name"
            />

            <span class="match-card__team-name">
                {{ match().homeTeam.name }}
            </span>
        </div>

        <div class="match-card__center">
            @if (match().status === "scheduled") {
                -:-
            } @else {
                <strong class="match-card__score">
                    {{ match().homeScore }} :
                    {{ match().awayScore }}
                </strong>
            }

            @if (match().status === "finished") {
                <span class="match-card__status">
                    матч<br />
                    окончен
                </span>
            }

            @if (match().status === "cancelled") {
                <span class="match-card__status">
                    матч<br />
                    отменён
                </span>
            }
        </div>

        <div class="match-card__team">
            <img
                class="match-card__logo"
                [src]="match().awayTeam.logoUrl"
                [alt]="'Логотип команды ' + match().awayTeam.name"
            />

            <span class="match-card__team-name">
                {{ match().awayTeam.name }}
            </span>
        </div>
    </div>

    <footer class="match-card__venue">
        {{ match().venueName }}
    </footer>
</article>
