<div class="news__grid">
  <article class="news__item news__item--main">
    <img src="images/news/children.jpg" alt="Детский турнир по футболу" class="news__img" />
    <h3 class="news__headline">Детский турнир по футболу</h3>
    <time datetime="2025-06-18" class="news__date">18 июня 2025</time>
  </article>

  <article class="news__item news__item--sub1">
    <img src="images/news/arsenal.webp" alt="Новый тренер" class="news__img" />
    <h4 class="news__headline">Сятра подписали нового тренера</h4>
    <time datetime="2025-06-18" class="news__date">18 июня 2025</time>
  </article>

  <article class="news__item news__item--sub2">
    <img src="images/news/leon.webp" alt="Контракт с LEON" class="news__img" />
    <h4 class="news__headline">Лига “Арман” подписала контракт с LEON</h4>
    <time datetime="2025-06-18" class="news__date">18 июня 2025</time>
  </article>
</div>

