<section class="sponsors" aria-label="Спонсоры лиги">
    <ul class="sponsors__list">
        <li class="sponsors__item sponsors__item--administration">
            <img
                class="sponsors__logo sponsors__logo--administration"
                src="/images/sponsors/administration_cheb.png"
                alt="Управление физической культуры и спорта администрации города Чебоксары"
                width="1600"
                height="310"
                loading="lazy"
                decoding="async"
            />
        </li>
        <li class="sponsors__item">
            <img
                class="sponsors__logo sponsors__logo--football-federation"
                src="/images/sponsors/foot_chuv_black.png"
                alt="Федерация футбола Чувашии"
                width="310"
                height="310"
                loading="lazy"
                decoding="async"
            />
        </li>
        <li class="sponsors__item">
            <span class="sponsors__text sponsors__text--fsk">ФСК Восток</span>
        </li>
        <li class="sponsors__item">
            <span class="sponsors__text sponsors__text--arman">Студия Арман</span>
        </li>
    </ul>
</section>
