@if(matches$ | async; as matches) {
    <swiper-container
        #swiperEl
        loop="false"
        class="match-swiper"
        space-between="30"
        slides-per-view="auto"
        initial-slide="16"
    >
        @for (match of matches; track match.id) {
            <swiper-slide>
                <div class="match-card">
                    <div class="match-card__header">
                        <h4>
                            Сезон {{ match.seasonYear }}, {{ match.roundNumber }}
                        </h4>
                        <h3>{{ match.matchDateTime }}</h3>
                    </div>
                    <div class="match-card__teams">
                        <div class="match-card__team">
                            <img
                                src="{{ match.homeTeamLogoUrl }}"
                                alt="Логотип футбольной команды"
                            />
                            <p>{{ match.homeTeamName }}</p>
                        </div>
                        <span
                        >{{ match.homeTeamScore ?? '-' }} : {{ match.awayTeamScore ?? '-' }}</span
                        >
                        <div class="match-card__team">
                            <img
                                src="{{ match.awayTeamLogoUrl }}"
                                alt="Логотип футбольной команды"
                            />
                            <p>{{ match.awayTeamName }}</p>
                        </div>
                    </div>
                    <p>{{ match.venueName }}</p>
                </div>
            </swiper-slide>
        }
    </swiper-container>
} @else {
    <div>Календарь ещё не готов.</div>
}
