:host {
    background-color: #16191a;
}

.team-logos {
    padding: 24px;
    background: linear-gradient(180deg, #0e0e0e 0%, #090909 100%);
    display: flex;
    justify-content: center;

    &__grid {
        display: flex;
        justify-content: space-between;
        //grid-template-columns: repeat(auto-fit, minmax(78px, 1fr));
        gap: 16px;
        max-width: 800px;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 78px;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    &__img--sm {
        height: 78px;
    }
}
