<section class="stats">
    <h2 class="stats__title">Статистика</h2>

    <div class="stats__table">
        <div class="stats__header">
            <div class="stats__cell stats__cell--num">№</div>
            <div class="stats__cell stats__cell--team">Команды</div>
            <div class="stats__cell stats__cell--games">И</div>
            <div class="stats__cell stats__cell--points">О</div>
        </div>

        <div class="stats__row">
            <div class="stats__cell stats__cell--num">1</div>
            <div class="stats__cell stats__cell--team">
                <span class="stats__dot"></span>
                <img
                    src="images/teams/poboi.svg"
                    alt="Побои"
                    class="stats__logo"
                />
                <span class="stats__name">Побои</span>
            </div>
            <div class="stats__cell stats__cell--games">6</div>
            <div class="stats__cell stats__cell--points">18</div>
        </div>

        <div class="stats__row">
            <div class="stats__cell stats__cell--num">2</div>
            <div class="stats__cell stats__cell--team">
                <span class="stats__dot"></span>
                <img
                    src="images/teams/sarbaki.svg"
                    alt="Сарбаки"
                    class="stats__logo"
                />
                <span class="stats__name">Сарбаки</span>
            </div>
            <div class="stats__cell stats__cell--games">6</div>
            <div class="stats__cell stats__cell--points">11</div>
        </div>

        <div class="stats__row">
            <div class="stats__cell stats__cell--num">3</div>
            <div class="stats__cell stats__cell--team">
                <span class="stats__dot"></span>
                <img
                    src="images/teams/sytra_logo.svg"
                    alt="Сятра"
                    class="stats__logo"
                />
                <span class="stats__name">Сятра</span>
            </div>
            <div class="stats__cell stats__cell--games">6</div>
            <div class="stats__cell stats__cell--points">7</div>
        </div>

        <div class="stats__row">
            <div class="stats__cell stats__cell--num">4</div>
            <div class="stats__cell stats__cell--team">
                <span class="stats__dot"></span>
                <img
                    src="images/teams/shorkino.png"
                    alt="Шоркино"
                    class="stats__logo"
                />
                <span class="stats__name">Шоркино</span>
            </div>
            <div class="stats__cell stats__cell--games">6</div>
            <div class="stats__cell stats__cell--points">0</div>
        </div>
    </div>

    <a href="/full-table" class="stats__link">Вся таблица &rarr;</a>
</section>
