<section id="news">
    <h2 class="news-title">Новости</h2>

    <mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px" class="news-grid">
        <mat-grid-tile *ngFor="let item of news">
            <mat-card class="news-card">
                <img mat-card-image [src]="item.image" [alt]="item.title" />
                <mat-card-content>
                    <h3 mat-card-title>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>
