<article
    class="match-card"
    role="button"
    tabindex="0"
    (click)="onCardClick()"
    (keydown.enter)="onCardClick()"
    (keydown.space)="onCardClick()"
>
    <header class="match-card__header">
        <div class="match-card__season">
            <span>{{match().competitionLogoUrl}}</span>
            <img
                [src]="match().competitionLogoUrl"
                [alt]="match().competitionName"
            />
            <span>Сезон {{ match().seasonYear }}, {{ match().round }}</span>
        </div>

        <time class="match-card__date">
            {{ match().matchDateTime | date: "d MMMM, HH:mm" }}
        </time>
    </header>

    <div class="match-card__content">
        <div class="match-card__team">
            <img
                class="match-card__logo"
                [src]="match().homeTeamLogoUrl"
                [alt]="'Логотип команды ' + match().homeTeamName"
            />

            <span class="match-card__team-name">
                {{ match().homeTeamName }}
            </span>
        </div>

        <div class="match-card__center">
            @if (match().status === "scheduled") {
                <strong class="match-card__score">
                    <span>-</span>
                    <span class="match-card__score-separator">:</span>
                    <span>-</span>
                </strong>
            } @else {
                <strong class="match-card__score">
                    <span>{{ match().homeTeamScore }}</span>
                    <span class="match-card__score-separator">:</span>
                    <span>{{ match().awayTeamScore }}</span>
                </strong>
            }

            @if (match().status === "finished") {
                <span class="match-card__status">
                    матч<br />
                    окончен
                </span>
            }

            @if (match().status === "cancelled") {
                <span class="match-card__status">
                    матч<br />
                    отменён
                </span>
            }
        </div>

        <div class="match-card__team">
            <img
                class="match-card__logo"
                [src]="match().awayTeamLogoUrl"
                [alt]="'Логотип команды ' + match().awayTeamName"
            />

            <span class="match-card__team-name">
                {{ match().awayTeamName }}
            </span>
        </div>
    </div>

    <footer class="match-card__venue">
        {{ match().venueName }}
    </footer>
</article>
