JWT_SECRET=your_jwt_secret

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=kupipodariday
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata