<section class="footer">
    <div class="footer__grid">
        <!-- Левая часть: логотип и название лиги -->
        <div class="footer__brand">
            <img
                src="images/Arman_liga.png"
                alt="Арман Лига"
                class="footer__logo"
            />
            <div class="footer__brand-text">
                <span class="footer__brand-sub">Футбольная лига</span>
            </div>
        </div>

        <!-- Правая часть: копирайт и обратная связь -->
        <p class="footer__copy">©«Арман Лига» 2025. Все права защищены.</p>
        <!--    <div class="footer__info">-->
        <!--      -->
        <p class="footer__contact">
            Обратная связь:
            <a href="mailto:arman-liga@yandex.ru" class="footer__contact-link"
                >arman-liga&#64;yandex.ru</a
            >
        </p>
        <!--    </div>-->

        <!-- Подписаться -->
        <div class="footer__subscribe">
            <h3 class="footer__subscribe-title">Подписаться</h3>
            <p class="footer__subscribe-text">Мы в социальных сетях</p>
            <div class="footer__social">
                <a
                    href="https://vk.com/arman_football.league"
                    class="footer__social-link"
                >
                    <img src="images/VK.png" alt="ВКонтакте" />
                </a>
                <a href="https://t.me/ArmanLiga" class="footer__social-link">
                    <img src="images/telegram.png" alt="Telegram" />
                </a>
                <a
                    href="https://www.instagram.com/arman_football.league?igsh=MW4yNnN2NjY5dWZ1bQ%3D%3D&amp;utm_source=qr"
                    class="footer__social-link"
                >
                    <img src="images/Instagram.png" alt="Instagram" />
                </a>
            </div>
        </div>
    </div>
</section>
