.info-card {
    display: flex;
    align-items: end;
    max-width: 358px;
    max-height: 180px;
    position: relative;
    font-family: Arial, sans-serif;
    color: #E0F7FA;
    overflow: hidden;

    .accent {
        flex: 0 0 100px;
        background: #189CA8;
        transform: skewX(-20deg);
        transform-origin: center;
        height: 160px;
        margin-left: 30px;

        img {
            position: absolute;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 1;
        background: #161616;
        transform: skewX(-20deg);
        transform-origin: center;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 126%;
        //padding: 16px 24px;
        height: 180px;
        //align-items: center; // центрирование по горизонтали
        //text-align: center; // выравнивание текста внутри

        > * {
            transform: skewX(20deg);
        }

        h3 {
            margin: 0 auto 0 8px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            line-height: 126%;
            font-weight: 400;
        }

        p {
            width: 80%;
            margin: 0;
            margin-left: auto;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    .image-wrapper {
        position: absolute;
        z-index: 1;
        flex: 0 0 120px;

        img {
            display: block;
            width: 120px;
            height: 150px;
            object-fit: cover;
        }
    }
}

