<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <img
                class="footer__logo"
                src="images/Arman_liga.png"
                alt="Логотип Арман"
            />

            <p class="footer__copyright">
                ©АФЛ 2025. Все права защищены.
            </p>
        </div>

        <div class="footer__bottom">
            <div class="footer__social">
                <h3 class="footer__title">Подписаться</h3>
                <p class="footer__text">Мы в социальных сетях</p>

                <div class="footer__icons">
                    <a class="footer__icon-link" href="https://vk.com/arman_football.league" aria-label="ВКонтакте">
                        <img src="images/VK.png" alt="vk" />
                    </a>

                    <a class="footer__icon-link" href="https://t.me/ArmanLiga" aria-label="Telegram">
                        <img src="images/telegram.png" alt="telegram" />
                    </a>
                </div>
            </div>

            <div class="footer__contacts">
                <p class="footer__text">Обратная связь:</p>

                <a class="footer__email" href="mailto:arman-liga@ya.ru">
                    arman-liga&#64;yandex.ru
                </a>
            </div>
        </div>
    </div>
</footer>
