<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <img
                class="footer__logo"
                src="images/logo/dvor-liga.png"
                alt="Логотип Дворовой лиги"
            />

            <p class="footer__copyright">©Дворовая лига 2026. Все права защищены.</p>
        </div>

        <div class="footer__bottom">
            <div class="footer__social">
                <h3 class="footer__title">Подписаться</h3>
                <p class="footer__text">Мы в социальных сетях</p>

                <div class="footer__icons">
                    <a
                        class="footer__icon-link"
                        href="https://vk.ru/liga_dvora_cheb"
                        aria-label="ВКонтакте"
                    >
                        <img src="images/VK.png" alt="vk" />
                    </a>

<!--                    <a-->
<!--                        class="footer__icon-link"-->
<!--                        href="https://t.me/ArmanLiga"-->
<!--                        aria-label="Telegram"-->
<!--                    >-->
<!--                        <img src="images/telegram.png" alt="telegram" />-->
<!--                    </a>-->

<!--                    <a-->
<!--                        class="footer__icon-link"-->
<!--                        href="https://max.ru/join/2pBzTFTbrv1mc6L4flPIxiKCrurt3P3SUVxCU7BeIfc"-->
<!--                        aria-label="Макс"-->
<!--                    >-->
<!--                        <div class="footer__icon-box">-->
<!--                            <img src="images/Max_logo_black.svg" alt="Max" />-->
<!--                        </div>-->
<!--                    </a>-->
                </div>
            </div>

            <div class="footer__contacts">
                <p class="footer__text">Обратная связь:</p>

                <a class="footer__email" href="mailto:fsk_vostok@mail.ru">
                    fsk_vostok&#64;mail.ru
                </a>
            </div>
        </div>
    </div>
</footer>
