.breadcrumbs {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #e0f7fa;
    padding-top: 16px;

    a {
        color: #e0f7fa;
        text-decoration: none;
        line-height: 126%;

        &:hover {
            text-decoration: underline;
        }
    }

    .separator {
        margin: 0 8px;
        color: #00e0ff;
    }
}
