@if (activeTournament(); as tournament) {
    <app-matches-slider [seasonId]="tournament.season.id" />
}

<div class="home__body">
    <div class="home__section">
        <app-advertising-banner />
        <h2>Новости</h2>
        <app-news-preview [limit]="3" />
        <h2>Статистика</h2>
        <div class="home__statistics">
            @if (activeTournament(); as tournament) {
                <app-statistics-preview
                    [seasonId]="tournament.season.id"
                    [initialTournamentId]="tournament.id"
                />
                <app-stats-summary [tournamentId]="tournament.id" />
            }
        </div>
        <app-teams-map />
    </div>
</div>
