<app-matches-slider [seasonId]="1" />
<div class="home__body">
    <div class="home__section">
        <app-advertising-banner />
        <h2>новости</h2>
        <app-news-preview [limit]="3" />
        <h2>статистика</h2>
        <div class="home__statistics">
            <app-statistics-preview />
            <app-stats-summary
                [stats]="{
                played: 8,
                wins: 16,
                draws: 3,
                remaining: 3,
                penalties: 10,
                assists: 30,
                goals: 32,
                yellowCards: 2,
                redCards: 2,
            }"
            />
        </div>
        <app-teams-map></app-teams-map>
<!--        <app-teams-showcase />-->
    </div>
</div>
