<header class="header">
    <div class="header__inner">
        <a class="header__logo" routerLink="/" aria-label="Арман Лига">
            <img
                class="header__logo-image"
                src="images/logo/dvor-liga.png"
                alt="Дворовая Лига"
            />
        </a>

        <nav
            class="header__nav header__nav--desktop"
            aria-label="Основная навигация"
        >
            <a
                class="header__nav-link"
                routerLink="/team"
                (click)="closeMenu()"
            >
                Команды
            </a>
            <a
                class="header__nav-link"
                routerLink="/players"
                (click)="closeMenu()"
            >
                Игроки
            </a>
            <a
                class="header__nav-link"
                routerLink="/matches"
                (click)="closeMenu()"
            >
                Матчи
            </a>
            <a
                class="header__nav-link"
                routerLink="/statistics"
                (click)="closeMenu()"
            >
                Таблица
            </a>
            <a
                class="header__nav-link"
                routerLink="/news"
                (click)="closeMenu()"
            >
                Новости
            </a>
            <a
                class="header__nav-link"
                routerLink="/regulations"
                (click)="closeMenu()"
            >
                Регламент соревнований
            </a>
            <!--            <a class="header__nav-link" routerLink="/" (click)="closeMenu()">-->
            <!--                О лиге-->
            <!--            </a>-->
        </nav>

        <div class="header__actions">
            <div class="header__socials" aria-label="Социальные сети">
                <a
                    class="header__social-link"
                    href="https://vk.ru/liga_dvora_cheb"
                    aria-label="ВКонтакте"
                >
                    <img
                        class="header__social-icon"
                        src="images/VK.png"
                        alt=""
                    />
                </a>
                <!--                <a-->
                <!--                    class="header__social-link"-->
                <!--                    href="https://t.me/ArmanLiga"-->
                <!--                    aria-label="Telegram"-->
                <!--                >-->
                <!--                    <img-->
                <!--                        class="header__social-icon"-->
                <!--                        src="images/telegram.png"-->
                <!--                        alt=""-->
                <!--                    />-->
                <!--                </a>-->
                <!--                <a-->
                <!--                    class="header__social-link"-->
                <!--                    href="https://max.ru/join/2pBzTFTbrv1mc6L4flPIxiKCrurt3P3SUVxCU7BeIfc"-->
                <!--                    aria-label="Instagram"-->
                <!--                >-->
                <!--                    <img-->
                <!--                        class="header__social-icon header__social-icon&#45;&#45;sm"-->
                <!--                        src="images/Max_logo_black.svg"-->
                <!--                        alt=""-->
                <!--                    />-->
                <!--                </a>-->
            </div>

            <a
                class="header__action header__action--authorization"
                [routerLink]="'/login'"
                aria-label="Авторизация"
            >
                <img
                    class="header__authorization-icon"
                    src="images/icons/authorization.svg"
                    alt=""
                />
            </a>

            <button
                class="header__action header__action--menu"
                [class.header__action--menu-open]="isMenuOpen()"
                type="button"
                [attr.aria-label]="menuIconLabel()"
                [attr.aria-expanded]="isMenuOpen()"
                aria-controls="header-menu"
                (click)="toggleMenu()"
            >
                <span class="header__menu-line"></span>
                <span class="header__menu-line"></span>
                <span class="header__menu-line"></span>
            </button>
        </div>
    </div>

    @if (isMenuOpen()) {
        <nav
            id="header-menu"
            class="header__nav header__nav--mobile"
            aria-label="Мобильная навигация"
        >
            <a class="header__nav-link" routerLink="/" (click)="closeMenu()"
                >Главная</a
            >
            <a
                class="header__nav-link"
                routerLink="/team"
                (click)="closeMenu()"
            >
                Команды
            </a>
            <a
                class="header__nav-link"
                routerLink="/players"
                (click)="closeMenu()"
            >
                Игроки
            </a>
            <a
                class="header__nav-link"
                routerLink="/matches"
                (click)="closeMenu()"
            >
                Матчи
            </a>
            <a
                class="header__nav-link"
                routerLink="/statistics"
                (click)="closeMenu()"
            >
                Таблица
            </a>
            <a
                class="header__nav-link"
                routerLink="/news"
                (click)="closeMenu()"
            >
                Новости
            </a>
            <a
                class="header__nav-link"
                routerLink="/regulations"
                (click)="closeMenu()"
            >
                Регламент соревнований
            </a>
            <a
                class="header__nav-link"
                routerLink="/login"
                (click)="closeMenu()"
            >
                Войти
            </a>
        </nav>
    }
</header>
