<table class="statistics-preview__table">
    <thead>
        <tr>
            <th>№</th>
            <th></th>
            <th class="statistics-preview__team-head">команда</th>
            <th>И</th>
            <th>О</th>
        </tr>
    </thead>

    <tbody>
        @for (
            team of rows();
            track team.team.id;
            let index = $index;
            let isFirst = $first;
            let isLast = $last
        ) {
            <tr>
                <td class="statistics-preview__cell--numeric">
                    {{ index + 1 }}
                </td>
                <td>
                    <span
                        class="statistics-preview__status"
                        [class.statistics-preview__status--green]="isFirst"
                        [class.statistics-preview__status--white]="!isFirst && !isLast"
                        [class.statistics-preview__status--yellow]="isLast"
                    ></span>
                </td>

                <td class="statistics-preview__team">
                    <img
                        class="statistics-preview__team-logo"
                        [src]="team.team.logoUrl"
                        [alt]="team.team.name"
                    />

                    <span>{{ team.team.name }}</span>
                </td>

                <td class="statistics-preview__cell--numeric">
                    {{ team.played }}
                </td>
                <td class="statistics-preview__cell--numeric">
                    {{ team.points }}
                </td>
            </tr>
        }
    </tbody>
</table>
